[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
logzero = ">=1.3.1"
feedparser = ">5.1"
pytest = "*"
tox = "*"
coverage = "*"
pytest-cov = "*"
pytest-flask = "*"
codecov = "*"
gunicorn = "*"
"flake8" = "*"
Flask = "*"
Sphinx = "*"
requests = "*"

[dev-packages]
pylint = "*"
black = "*"
responses = "*"

[requires]
python_version="3.6"

[pipenv]
allow_prereleases=true

[environment]
PIPENV_VENV_IN_PROJECT=true
